@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-all;
  }

  body {
    @apply m-0 scroll-smooth text-base text-slate-800;
  }

  hr {
    @apply my-4 border-0;
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-6 pb-4 font-bold text-slate-700;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl;
  }

  /* End Headings */
  p {
    @apply mb-4;
  }

  abbr[title] {
    @apply underline decoration-dotted;
  }

  ol,
  ul {
    @apply pl-8;
  }

  blockquote {
    @apply rounded-sm border-l-4 border-slate-400 bg-slate-50 p-4;
  }

  mark {
    @apply inline-block rounded bg-yellow-300 px-1;
  }

  sub,
  sup {
    @apply relative align-baseline text-sm;
  }

  sub {
    @apply -bottom-1;
  }

  sup {
    @apply -top-2;
  }

  a {
    @apply text-sky-400 hover:text-sky-500 hover:underline focus:text-sky-500 focus:underline focus:outline-none;
  }

  code,
  kbd,
  pre,
  samp {
    @apply font-mono text-base;
  }

  pre {
    @apply block overflow-auto;
  }

  figure {
    @apply mb-4 block;
  }

  figure img {
    @apply rounded-lg;
  }

  figcaption {
    @apply mt-2 block text-center;
  }

  img,
  svg {
    @apply align-middle;
  }

  img,
  video {
    @apply block w-full;
  }

  table {
    @apply table w-full border-collapse;
  }

  tr {
    @apply border-b last:border-b-0;
  }

  td,
  th {
    @apply rounded-lg border-r px-4 py-2 text-center last:border-r-0;
  }

  thead,
  th,
  tbody,
  tr,
  td,
  tfoot {
    @apply border-solid border-inherit;
  }

  caption {
    @apply py-2 text-left;
  }

  label {
    @apply mb-2 inline-block;
  }

  textarea {
    @apply resize-y;
  }

  legend {
    @apply mb-2 w-full;
  }

  output {
    @apply inline-block;
  }

  iframe {
    @apply border-0;
  }

  summary {
    @apply list-item cursor-pointer;
  }

  progress {
    @apply align-baseline;
  }
}

@layer components {
  /* Accordion */
  .accordion {
    @apply mb-4 grid gap-4 pl-0;
  }

  .accordion-item {
    @apply relative grid rounded-lg border shadow-sm;
  }

  .accordion-btn {
    @apply relative w-full rounded-lg border-transparent bg-white px-6 py-4 text-left outline-none hover:bg-pink-50 focus:border focus:border-pink-400 focus:bg-pink-50 focus:text-pink-400 focus:ring focus:ring-pink-300 focus:ring-offset-2 peer-checked:border peer-checked:border-pink-400 peer-checked:bg-pink-50 peer-checked:text-pink-400 peer-checked:ring peer-checked:ring-pink-300 peer-checked:ring-offset-2;
  }

  .accordion-btn-icon {
    @apply absolute right-6 top-5 h-4 w-4 bg-cover bg-center bg-no-repeat duration-300 peer-checked:-rotate-180;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .accordion-content {
    @apply mb-0 hidden px-6 py-4 peer-checked:block;
  }

  /* End accordions */
  /* Alerts */
  .alert {
    @apply rounded-lg border border-l-4 p-4;
  }

  .alert-flushed {
    @apply rounded-sm border-y-0 border-r-0;
  }

  .alert-modern {
    @apply flex items-center gap-4 rounded-full border-l px-3 py-2;
  }

  .alert-primary {
    @apply border-pink-400 bg-pink-50 text-pink-500;
  }

  .alert-secondary {
    @apply border-slate-400 bg-slate-50 text-slate-500;
  }

  .alert-info {
    @apply border-sky-400 bg-sky-50 text-sky-500;
  }

  .alert-success {
    @apply border-green-400 bg-green-50 text-green-500;
  }

  .alert-warning {
    @apply border-orange-400 bg-orange-50 text-orange-500;
  }

  .alert-danger {
    @apply border-red-400 bg-red-50 text-red-500;
  }

  .alert-light {
    @apply border-gray-300 bg-gray-50 text-gray-400;
  }

  .alert-dark {
    @apply border-gray-700 bg-gray-100 text-gray-700;
  }

  /* End alerts */
  /* Avatars */
  .avatar {
    @apply relative inline-flex h-14 w-14 items-center justify-center rounded-full text-white shadow-sm;
  }

  .avatar img {
    @apply absolute inset-0 h-full w-full rounded-full object-cover;
  }

  .avatar-sm {
    @apply h-12 w-12 text-sm;
  }

  .avatar-lg {
    @apply h-16 w-16 text-lg;
  }

  .avatar-primary {
    @apply border border-pink-500 bg-pink-400;
  }

  .avatar-secondary {
    @apply border border-slate-500 bg-slate-400;
  }

  .avatar-info {
    @apply border border-sky-500 bg-sky-400;
  }

  .avatar-success {
    @apply border border-green-500 bg-green-400;
  }

  .avatar-warning {
    @apply border border-orange-500 bg-orange-400;
  }

  .avatar-danger {
    @apply border border-red-500 bg-red-400;
  }

  .avatar-light {
    @apply border border-gray-300 bg-gray-200 text-gray-600;
  }

  .avatar-dark {
    @apply border border-gray-900 bg-gray-700;
  }

  /* End avatars */
  /* Badges */
  .badge {
    @apply inline-block rounded-lg border px-2 py-1 text-sm font-medium text-white shadow-sm;
  }

  .badge-primary {
    @apply border-pink-500 bg-pink-400;
  }

  .badge-secondary {
    @apply border-slate-500 bg-slate-400;
  }

  .badge-info {
    @apply border-sky-500 bg-sky-400;
  }

  .badge-success {
    @apply border-green-500 bg-green-400;
  }

  .badge-warning {
    @apply border-orange-500 bg-orange-400;
  }

  .badge-danger {
    @apply border-red-500 bg-red-400;
  }

  .badge-light {
    @apply border-gray-300 bg-gray-200 text-gray-600;
  }

  .badge-dark {
    @apply border-gray-800 bg-gray-700;
  }

  .badge-outline-primary {
    @apply border-pink-500 bg-pink-50 text-pink-500;
  }

  .badge-outline-secondary {
    @apply border-slate-500 bg-slate-50 text-slate-500;
  }

  .badge-outline-info {
    @apply border-sky-500 bg-sky-50 text-sky-500;
  }

  .badge-outline-success {
    @apply border-green-500 bg-green-50 text-green-500;
  }

  .badge-outline-warning {
    @apply border-orange-500 bg-orange-50 text-orange-500;
  }

  .badge-outline-danger {
    @apply border-red-500 bg-red-50 text-red-500;
  }

  .badge-outline-light {
    @apply border-gray-300 bg-gray-50 text-gray-500;
  }

  .badge-outline-dark {
    @apply border-gray-800 bg-gray-100 text-gray-700;
  }

  /* End badges */
  /* Breadcrumbs */
  .breadcrumb {
    @apply flex flex-wrap items-center gap-4 p-0;
  }

  .breadcrumb-item {
    @apply last:hidden;
  }

  /* End breadcrumbs */
  /* Buttons */
  .btn {
    @apply inline-block rounded-lg border bg-white py-3 px-6 font-semibold text-slate-600 shadow-sm outline-none hover:shadow-lg focus:ring focus:ring-offset-2 active:scale-95 active:ring active:ring-offset-2;
  }

  .btn-sm {
    @apply px-3 py-1.5 text-sm;
  }

  .btn-lg {
    @apply px-8 py-4 text-lg;
  }

  .btn.bg-gradient {
    @apply border-0 ring-0 focus:translate-y-1 focus:shadow-lg;
  }

  .btn-primary {
    @apply border-pink-400 bg-pink-400 text-white hover:bg-pink-500 hover:shadow-pink-300 focus:border-white focus:ring-pink-300 active:bg-pink-600 active:ring-pink-300;
  }

  .btn-secondary {
    @apply border-slate-400 bg-slate-400 text-white hover:bg-slate-500 hover:shadow-slate-300 focus:border-white focus:ring-slate-300 active:bg-slate-600 active:ring-slate-300;
  }

  .btn-info {
    @apply border-sky-400 bg-sky-400 text-white hover:bg-sky-500 hover:shadow-sky-300 focus:border-white focus:ring-sky-300 active:bg-sky-600 active:ring-sky-300;
  }

  .btn-success {
    @apply border-green-400 bg-green-400 text-white hover:bg-green-500 hover:shadow-green-300 focus:border-white focus:ring-green-300 active:bg-green-600 active:ring-green-300;
  }

  .btn-warning {
    @apply border-orange-400 bg-orange-400 text-white hover:bg-orange-500 hover:shadow-orange-300 focus:border-white focus:ring-orange-300 active:bg-orange-600 active:ring-orange-300;
  }

  .btn-danger {
    @apply border-red-400 bg-red-400 text-white hover:bg-red-500 hover:shadow-red-300 focus:border-white focus:ring-red-300 active:bg-red-600 active:ring-red-300;
  }

  .btn-light {
    @apply border-gray-200 bg-gray-100 text-gray-500 hover:bg-gray-200 hover:shadow-gray-300 focus:border-white focus:ring-gray-300 active:bg-gray-300 active:ring-gray-300;
  }

  .btn-dark {
    @apply border-gray-700 bg-gray-700 text-white hover:bg-gray-800 hover:shadow-gray-300 focus:border-white focus:ring-gray-600 active:bg-gray-900 active:ring-gray-600;
  }

  .btn-outline-primary {
    @apply border-pink-400 text-pink-400 hover:bg-pink-50 hover:shadow-pink-300 focus:border-pink-400 focus:ring-pink-300 active:bg-pink-100;
  }

  .btn-outline-secondary {
    @apply border-slate-400 text-slate-400 hover:bg-slate-50 hover:shadow-slate-300 focus:border-slate-400 focus:ring-slate-300 active:bg-slate-100;
  }

  .btn-outline-info {
    @apply border-sky-400 text-sky-400 hover:bg-sky-50 hover:shadow-sky-300 focus:border-sky-400 focus:ring-sky-300 active:bg-sky-100;
  }

  .btn-outline-success {
    @apply border-green-400 text-green-400 hover:bg-green-50 hover:shadow-green-300 focus:border-green-400 focus:ring-green-300 active:bg-green-100;
  }

  .btn-outline-warning {
    @apply border-orange-400 text-orange-400 hover:bg-orange-50 hover:shadow-orange-300 focus:border-orange-400 focus:ring-orange-300 active:bg-orange-100;
  }

  .btn-outline-danger {
    @apply border-red-400 text-red-400 hover:bg-red-50 hover:shadow-red-300 focus:border-red-400 focus:ring-red-300 active:bg-red-100;
  }

  .btn-outline-light {
    @apply border-gray-400 text-gray-400 hover:bg-gray-50 hover:shadow-gray-300 focus:border-gray-400 focus:ring-gray-300 active:bg-gray-100;
  }

  .btn-outline-dark {
    @apply border-gray-700 text-gray-700 hover:bg-gray-100 hover:shadow-gray-300 focus:border-gray-700 focus:ring-gray-600 active:bg-gray-200;
  }

  /* End buttons */
  /* Containers */
  .container {
    @apply mx-2 w-auto px-2 py-4 sm:mx-8 md:mx-16 lg:mx-32 xl:mx-64 2xl:mx-auto 2xl:max-w-6xl;
  }

  .container-grid {
  }

  .contain-flex {
  }

  /* End containers */
  /* Cards */
  .card {
    @apply relative rounded-lg border shadow-lg;
  }

  .card-header {
    @apply border-b px-8 py-6;
  }

  .card-body {
    @apply p-8 text-lg font-light;
  }

  .card-footer {
    @apply border-t px-8 py-6;
  }

  /* End cards */

  /* Carousels */
  .carousel-prev-btn {
    @apply h-10 w-10;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }

  .carousel-next-btn {
    @apply h-10 w-10;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  /* End carousel */
  /* Forms */
  .form-control {
    @apply block w-full rounded-lg border bg-white px-4 py-3 shadow-sm outline-none file:mr-4 file:rounded-lg file:border-0 file:bg-slate-50 file:px-4 file:py-2 file:shadow-sm file:transition-all invalid:border-red-400 invalid:text-red-400 invalid:ring invalid:ring-red-300 file:hover:bg-slate-100 focus:border-pink-400 focus:ring focus:ring-pink-300 focus:ring-offset-2 active:border-pink-400 active:ring active:ring-pink-300 active:ring-offset-2;
  }

  .form-control-flushed {
    @apply rounded-none border-x-0 border-t-0 border-b-2 px-0 shadow-none invalid:border-red-400 invalid:text-red-400 invalid:ring-0 invalid:ring-red-300 focus:ring-0 active:ring-0;
  }

  .form-control-floating {
    @apply placeholder-transparent;
  }

  .floating-label {
    @apply absolute -top-3 bg-white text-sm text-slate-600 peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-slate-400 peer-invalid:text-red-400 peer-focus:-top-3 peer-focus:text-sm peer-focus:text-slate-600 peer-focus:peer-invalid:text-red-400;
  }

  .form-secondary {
    @apply focus:border-slate-400 focus:ring-slate-300;
  }

  .form-info {
    @apply focus:border-sky-400 focus:ring-sky-300;
  }

  .form-success {
    @apply focus:border-green-400 focus:ring-green-300;
  }

  .form-warning {
    @apply focus:border-orange-400 focus:ring-orange-300;
  }

  .form-danger {
    @apply focus:border-red-400 focus:ring-red-300;
  }

  .form-check {
    @apply mt-1 inline-block h-4 w-4 appearance-none rounded border bg-white bg-contain bg-center bg-no-repeat align-top shadow-sm outline-none checked:border-pink-500 checked:bg-pink-400 focus:border-pink-500 focus:ring focus:ring-pink-300 focus:ring-offset-2 active:scale-95 active:ring active:ring-offset-2;
  }

  .form-check:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }

  .form-switch {
    @apply form-check w-8 bg-left checked:bg-right;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  }

  .form-switch:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb%28236 72 153 / 1%29'/%3e%3c/svg%3e");
  }

  .form-switch:checked,
  .form-switch:checked:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  /* End forms */
  /* Navbar */
  .navbar {
    @apply relative flex flex-col items-center justify-between gap-4 bg-white px-6 py-4 lg:flex-row lg:justify-start;
  }

  .navbar-vertical {
    @apply flex-col items-start;
  }

  .navbar-fixed {
    @apply fixed inset-x-0 top-0 z-50 shadow-lg;
  }

  .navbar-overlay {
    @apply inset-x-2 top-2 w-auto rounded-lg shadow-lg lg:inset-x-8 lg:top-8;
  }

  .navbar-container {
    @apply flex w-full items-center justify-between lg:w-auto;
  }

  .navbar-brand {
    @apply text-2xl font-semibold;
  }

  .navbar-brand a {
    @apply text-inherit hover:no-underline;
  }

  .navbar-toggler {
    @apply flex items-center justify-center outline-none lg:hidden;
  }

  .navbar-menu {
    @apply fixed inset-y-0 -left-full z-50 flex w-4/5 flex-col gap-4 overflow-y-auto bg-white p-8 shadow-lg duration-500 peer-checked:left-0 lg:static lg:w-auto lg:flex-row lg:p-0 lg:pl-0 lg:shadow-none;
  }

  .navbar-vertical .navbar-menu {
    @apply flex-col gap-2 lg:w-full;
  }

  .navbar-menu-item {
    @apply text-lg font-light;
  }

  .navbar-vertical .navbar-menu-item {
    @apply px-4;
  }

  .navbar-menu-heading {
    @apply text-xl font-semibold;
  }

  .navbar-vertical .navbar-menu-heading {
    @apply px-0;
  }

  .navbar-menu-item a {
    @apply text-slate-800 hover:text-sky-500 hover:no-underline;
  }

  .navbar-toggle-icon {
    @apply m-0 inline-block h-8 w-8 cursor-pointer bg-cover bg-center bg-no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-toggle-icon.show {
    @apply m-1 h-6 w-6;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  }

  /* Pagination */
  .pagination {
    @apply flex flex-wrap items-center gap-4 pl-0;
  }

  .pagination-item {
    @apply inline-flex cursor-pointer items-center justify-center rounded-lg border px-4 py-2 shadow-sm transition-all hover:shadow-lg active:scale-95;
  }

  /* End pagination */
  /* Skeleton */
  .skeleton {
    @apply block h-96 w-full max-w-full animate-pulse rounded-lg bg-slate-400;
  }

  .skeleton-text {
    @apply inline-block h-6 rounded;
  }

  .skeleton-circle {
    @apply inline-block h-16 w-16 rounded-full;
  }

  /* End skeleton */
  /* Spinners */
  .spinner-container {
    @apply inline-flex h-12 w-12 items-center justify-center rounded-full border shadow-lg;
  }

  .spinner {
    @apply inline-block h-8 w-8 animate-spin rounded-full border-2;
  }

  .spinner-primary {
    @apply gradient-primary border-pink-500 bg-pink-500;
  }

  .spinner-secondary {
    @apply gradient-secondary border-slate-500 bg-slate-500;
  }

  .spinner-info {
    @apply gradient-info border-sky-500 bg-sky-500;
  }

  .spinner-success {
    @apply gradient-success border-green-500 bg-green-500;
  }

  .spinner-warning {
    @apply gradient-warning border-orange-500 bg-orange-500;
  }

  .spinner-danger {
    @apply gradient-danger border-red-500 bg-red-500;
  }

  .spinner-light {
    @apply gradient-light border-gray-300 bg-gray-300;
  }

  .spinner-dark {
    @apply gradient-dark border-gray-800 bg-gray-800;
  }

  .spinner-filled {
    @apply h-6 w-6 animate-ping shadow-none;
  }

  .spinner-circle {
    @apply spinner-filled bg-white;
  }

  .spinner-border {
    @apply border-y-transparent bg-white;
  }

  .spinner-gradient {
    @apply spinner bg-gradient border-none p-1 shadow-none;
  }

  /* End spinners */
}

@layer utilities {
  .h-screen-4rem {
    height: calc(100vh - 4rem);
  }

  /* Gradients */
  .text-gradient {
    @apply bg-gradient-to-r bg-clip-text text-transparent;
  }

  .bg-gradient {
    @apply bg-gradient-to-r text-white;
  }

  .gradient-primary {
    @apply from-pink-500 to-blue-600;
  }

  .gradient-secondary {
    @apply from-slate-400 to-slate-900;
  }

  .gradient-info {
    @apply from-sky-500 to-lime-500;
  }

  .gradient-success {
    @apply from-green-500 to-violet-700;
  }

  .gradient-warning {
    @apply from-orange-500 to-teal-500;
  }

  .gradient-danger {
    @apply from-red-500 to-purple-600;
  }

  .gradient-light {
    @apply from-gray-100 to-gray-400;
  }

  .gradient-dark {
    @apply from-slate-500 to-black;
  }

  /* End gradients */
}
